a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: 0 !important;
}

* {
  -webkit-text-size-adjust: auto !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  border: 0;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1;
  word-wrap: break-word;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="text"], input[type="submit"], textarea {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*input[type=text], input[type=email], input[type=password], input[type=number], textarea {
	&::-webkit-input-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&:-moz-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&::-moz-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&:-ms-input-placeholder {
		opacity: 1;
		color: #74421c;
	}
}


input.error {
	color: #D9272E !important;

	&::-webkit-input-placeholder {
		color: #D9272E !important;
	}
	&:-moz-placeholder {
		color: #D9272E !important;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #D9272E !important;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #D9272E !important;
	}
}
 */
/*
	cdCss functions
	--------------------
*/
@font-face {
  font-family: 'MicrosoftPhagsPa-Bold';
  src: url("../fonts/MicrosoftPhagsPa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MicrosoftPhagsPa-Bold.woff") format("woff"), url("../fonts/MicrosoftPhagsPa-Bold.ttf") format("truetype"), url("../fonts/MicrosoftPhagsPa-Bold.svg#MicrosoftPhagsPa-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MicrosoftPhagsPa';
  src: url("../fonts/MicrosoftPhagsPa.eot?#iefix") format("embedded-opentype"), url("../fonts/MicrosoftPhagsPa.woff") format("woff"), url("../fonts/MicrosoftPhagsPa.ttf") format("truetype"), url("../fonts/MicrosoftPhagsPa.svg#MicrosoftPhagsPa") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Slider */
/* Slider */
html, body {
  margin: 0 !important;
  font-family: 'MicrosoftPhagsPa';
}

body {
  overflow-x: hidden;
}

header {
  padding: 75px 0 0 0;
}

header .hide-block {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  padding: 90px 0 0 0;
}

header .hide-block > .container {
  position: relative;
}

header .hide-block .close-menu {
  text-decoration: none;
  font-size: 35px;
  color: #012c3e;
  position: absolute;
  right: 0;
}

header .hide-block ul {
  margin: 5% 0 0 0;
}

header .hide-block ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #012c3e;
  line-height: 72px;
}

header .container .menu-block a {
  text-decoration: none;
  color: #012c3e;
  font-size: 60px;
}

header .container .header-info > div > p {
  color: #012c3e;
  font-size: 20px;
  display: inline;
  padding: 0 0 0 16px;
}

header .container .header-info > div > p span {
  padding: 0 0 0 14px;
}

header .container .header-info div {
  position: relative;
  top: 15px;
}

section h2 {
  font-size: 40px;
  color: #012c3e;
  line-height: 54px;
}

section h2:before {
  content: "";
  background-color: #ffd77d;
  width: 69px;
  height: 3px;
  display: block;
  margin: 0 0 17px 0;
}

section .top-block {
  position: relative;
}

section .top-block .left-block {
  width: 50%;
  left: 0;
  top: 0;
  position: absolute;
}

section .top-block .left-block .background-block {
  width: 100%;
  height: 244px;
  background-color: #f8f8f8;
  border-top: 3px solid #ffd77d;
  margin: 95px 0 0 0;
}

section .top-block .right-block {
  width: 50%;
  right: 0;
  top: 0;
  position: absolute;
  height: 845px;
  overflow: hidden;
}

section .top-block .right-block > img {
  width: 100%;
  height: auto;
}

section .top-block > .container {
  z-index: 1;
  position: relative;
  top: 95px;
}

section .top-block > .container .left-block-text {
  width: 50%;
  height: 845px;
}

section .top-block > .container .left-block-text .background-block-text {
  width: 100%;
  height: 244px;
}

section .top-block > .container .left-block-text .background-block-text p {
  color: #012c3e;
  font-size: 69px;
  line-height: 98px;
}

section .top-block > .container .left-block-text .left-bottom-text {
  margin: 90px 0 0 0;
}

section .top-block > .container .left-block-text .left-bottom-text .yellow-title {
  font-size: 60px;
  color: #ffd77d;
  line-height: 98px;
}

section .top-block > .container .left-block-text .left-bottom-text .left-block-info {
  font-size: 30px;
  color: #61686b;
  line-height: 40px;
}

section .top-block > .container .left-block-text .left-bottom-text > button {
  width: 427px;
  height: 91px;
  background: #012c3e;
  color: #ffffff;
  font-size: 35px;
  line-height: 53px;
  margin: 70px 0 0 0;
  border: none;
}

section .welcome-block {
  width: 100%;
  background: #f8f8f8;
  padding: 60px 0 0  0;
}

section .welcome-block p {
  font-size: 24px;
  color: #61686b;
  line-height: 40px;
  padding: 50px 0 0 0;
}

section .welcome-block .welcome-image > img {
  max-width: 100%;
  max-height: 100%;
}

section .rental-block {
  padding: 65px 0 0 0;
}

section .rental-block .container > div {
  margin: 65px 0 90px 0;
  text-align: center;
}

section .rental-block .container > div p {
  color: #012c3e;
  font-size: 24px;
  line-height: 40px;
}

section .rental-block .container > div img {
  max-width: 100%;
  max-height: 100%;
  padding: 0 0 28px 0;
  border-bottom: 1px solid #ffd77d;
}

section .rental-block .container > div button {
  font-size: 18px;
  color: #ffd77d;
  width: 110px;
  height: 39px;
  background: transparent;
  border: 1px solid;
  margin: 30px 0 0 0;
}

section .roommate-block {
  width: 100%;
  height: 574px;
  background: url("../images/back2.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  padding: 200px 0 0 0;
  color: #012c3e;
}

section .roommate-block h3 {
  font-size: 50px;
  line-height: 40px;
}

section .roommate-block p {
  font-size: 23px;
  line-height: 40px;
  padding: 30px 0 50px 0;
}

section .roommate-block button {
  font-size: 27px;
  line-height: 40px;
  width: 272px;
  height: 66px;
  border: none;
  background: #ffd77d;
}

section button {
  transition: all 0.3s;
}

section .brand-block {
  padding: 45px 0 50px 0;
  position: relative;
}

section .brand-block div p {
  font-size: 24px;
  color: #61686b;
  line-height: 30px;
  padding: 50px 0 0 0;
}

section .brand-block div .bold-text {
  font-size: 20px;
  color: #61686b;
  font-family: 'MicrosoftPhagsPa-Bold';
  line-height: 26px;
  padding: 65px 0 56px 0;
}

section .brand-block .brand-buttons button {
  width: 177px;
  height: 48px;
  font-size: 20px;
  line-height: 27px;
}

section .brand-block .brand-buttons .contact-button {
  background: transparent;
  border: 1px solid;
  color: #ffd77d;
}

section .brand-block .brand-buttons .more-button {
  border: none;
  color: #ffffff;
  background-color: #61686b;
  margin: 0 0 0 15px;
}

section .brand-block .image-brand {
  margin: 30px 0 0 0;
}

section .brand-block .image-brand img {
  max-width: 100%;
  max-height: 100%;
}

section .brand-block .yellow-line {
  width: 50%;
  height: 1px;
  background: #ffd77d;
  position: absolute;
  top: 59%;
  left: 0;
}

section .contact-block {
  position: relative;
  padding: 145px 0 45px 0;
  width: 100%;
  background: #f8f8f8;
}

section .contact-block .container-fluid {
  position: relative;
}

section .contact-block .container-fluid h2 {
  position: absolute;
  left: 20.5%;
  top: -110px;
}

section .contact-block .container-fluid .contact-info h3 {
  font-size: 30px;
  color: #012c3e;
  line-height: 40px;
  margin: 0 0 45px 0;
}

section .contact-block .container-fluid .contact-info h3:after {
  content: "";
  background-color: #ffd77d;
  width: 100%;
  height: 1px;
  display: block;
  margin: 25px 0 0  0;
}

section .contact-block .container-fluid .contact-info p {
  font-size: 20px;
  color: #61686b;
  line-height: 24px;
  width: 300px;
  margin: 0 0 40px 0;
}

section .contact-block .container-fluid .contact-info p:after {
  content: "";
  display: table;
  clear: both;
}

section .contact-block .container-fluid .contact-info p span {
  width: 255px;
  display: inline-block;
}

section .contact-block .container-fluid .contact-info p i {
  padding: 0 10px 0 0;
  font-size: 35px;
}

section .contact-block .container-fluid .contact-info p .fa-envelope-o {
  font-size: 25px;
}

section .contact-block .container-fluid .contact-info .info-links a {
  text-decoration: none;
  color: #61686b;
  font-size: 30px;
  display: inline-block;
  width: 45px;
}

/*
* Ie fixes
*/
@media only screen and (max-width: 1200px) {
  header .container .header-info > div > p {
    display: block;
  }
  header .container .header-info > div > .phone-info span {
    padding: 0 0 0 19px;
  }
  header .container .header-info > div > .phone-info > i {
    padding: 1px 0 0 0;
  }
  header .container .header-info > div > .message-info > i {
    font-size: 14px;
  }
  section .top-block > .container .left-block-text .background-block-text p {
    font-size: 52px;
    line-height: 90px;
  }
  section .top-block .left-block .background-block {
    height: 180px;
  }
  section .top-block > .container .left-block-text .background-block-text {
    height: 100px;
  }
  section .top-block > .container {
    top: 80px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .yellow-title {
    font-size: 44px;
    line-height: 70px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .left-block-info {
    font-size: 24px;
    line-height: 30px;
  }
  section .top-block > .container .left-block-text .left-bottom-text > button {
    margin: 35px 0 0 0;
    height: 75px;
  }
  section .roommate-block h3 {
    font-size: 44px;
  }
  section .roommate-block p {
    font-size: 20px;
  }
  section .top-block > .container .left-block-text {
    height: 590px;
  }
  section .rental-block .container > div p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  section .top-block > .container .left-block-text .background-block-text p {
    font-size: 46px;
    line-height: 50px;
    padding: 20px 0 0 0;
  }
  section .top-block .left-block .background-block {
    height: 120px;
    margin: 37px 0 0 0;
  }
  section .top-block > .container {
    top: 25px;
  }
  section .top-block > .container .left-block-text .left-bottom-text {
    margin: 45px 0 0 0;
  }
  section .top-block > .container .left-block-text .left-bottom-text .yellow-title {
    font-size: 40px;
  }
  section .top-block > .container .left-block-text .left-bottom-text > button {
    width: 337px;
  }
  section .top-block > .container .left-block-text {
    height: 460px;
  }
  section .welcome-block p {
    line-height: 36px;
    padding: 10px 0 0 0;
  }
  section h2 {
    font-size: 33px;
    line-height: 35px;
  }
  section .brand-block div p {
    font-size: 16px;
    line-height: 24px;
    padding: 5px 0 0 0;
  }
  section .brand-block div .bold-text {
    font-size: 16px;
    line-height: 24px;
    padding: 35px 0 25px 0;
  }
  section .brand-block .brand-buttons button {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
  section .brand-block .yellow-line {
    top: 51%;
  }
  section .rental-block .container > div p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 30px 0 0 0;
  }
  section .top-block > .container .left-block-text .background-block-text p {
    font-size: 40px;
    line-height: 40px;
    padding: 0;
  }
  section .top-block .left-block .background-block {
    height: 100px;
    margin: 15px 0 0 0;
  }
  section .top-block > .container .left-block-text .left-bottom-text {
    margin: 0;
  }
  section .top-block > .container .left-block-text .left-bottom-text .yellow-title {
    font-size: 34px;
    line-height: 40px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .left-block-info {
    font-size: 20px;
    line-height: 34px;
  }
  section .top-block > .container .left-block-text .left-bottom-text > button {
    height: 60px;
    font-size: 30px;
    margin: 10px 0 0 0;
    width: 237px;
  }
  section .top-block > .container .left-block-text {
    height: 370px;
  }
  section .welcome-block {
    padding: 30px 0 0 0;
  }
  section .welcome-block p {
    line-height: 30px;
    padding: 10px 0;
  }
  section .top-block .right-block {
    height: 340px;
  }
  header .container .header-info > div > p {
    font-size: 16px;
  }
  header .container .menu-block a {
    font-size: 50px;
  }
  section .brand-block .yellow-line {
    display: none;
  }
  section .brand-block {
    padding: 45px 0 50px 0;
  }
}

@media only screen and (max-width: 630px) {
  section .top-block > .container .left-block-text .background-block-text p {
    font-size: 30px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .yellow-title {
    font-size: 26px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .left-block-info {
    font-size: 16px;
    line-height: 24px;
  }
  header .container .header-info div {
    top: 0px;
  }
  header .container .header-info > div > p {
    font-size: 13px;
  }
  section .roommate-block {
    padding: 110px 0 0 0;
  }
  header .container .header-info > div > .phone-info span {
    padding: 0 0 0 17px;
  }
  header .container .header-info > div > .phone-info > i {
    padding: 1px 0 0 0;
  }
  header .container .header-info > div > .message-info > i {
    font-size: 10px;
  }
}

@media only screen and (max-height: 640px) {
  header .hide-block ul {
    margin: 0;
  }
  header .hide-block ul li a {
    font-size: 26px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 480px) {
  section .top-block > .container .left-block-text .background-block-text p {
    font-size: 24px;
    line-height: 28px;
  }
  section .top-block .left-block .background-block {
    height: 70px;
  }
  section .top-block > .container .left-block-text .background-block-text {
    height: 60px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .yellow-title {
    font-size: 22px;
    line-height: 30px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .left-block-info {
    font-size: 14px;
    line-height: 22px;
  }
  section .top-block > .container .left-block-text .left-bottom-text > button {
    height: 40px;
    font-size: 22px;
    margin: 10px 0 0 0;
    width: 196px;
    line-height: 20px;
  }
  section .top-block > .container .left-block-text {
    height: 230px;
  }
  header .container .menu-block a {
    font-size: 34px;
  }
  header {
    padding: 20px 0 0 0;
  }
}

@media only screen and (max-height: 440px) {
  header .hide-block ul li a {
    font-size: 20px;
    line-height: 38px;
  }
  header .hide-block {
    padding: 20px 0 0 0;
  }
}

@media only screen and (max-width: 390px) {
  section .top-block > .container .left-block-text .background-block-text p {
    font-size: 16px;
    line-height: 20px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .yellow-title {
    font-size: 14px;
    line-height: 18px;
  }
  section .top-block > .container .left-block-text .left-bottom-text .left-block-info {
    font-size: 10px;
    line-height: 12px;
  }
  section .top-block > .container .left-block-text .left-bottom-text > button {
    height: 24px;
    font-size: 14px;
    margin: 5px 0 0 0;
    width: 110px;
    line-height: 20px;
  }
  section .top-block > .container .left-block-text {
    height: 200px;
  }
  section .top-block .left-block .background-block {
    height: 60px;
  }
  section .top-block > .container .left-block-text .background-block-text {
    height: 54px;
  }
}

@media only screen and (max-width: 350px) {
  section .welcome-block p {
    line-height: 24px;
    padding: 7px 0;
    font-size: 20px;
  }
  section .brand-block .brand-buttons button {
    width: 135px;
  }
}
